/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/


/** Core CSS required for ionic components to work property */
@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
@import "~@ionic/core/css/padding.css";
@import "~@ionic/core/css/float-elements.css";
@import "~@ionic/core/css/text-alignment.css";
@import "~@ionic/core/css/text-transformation.css";
@import "~@ionic/core/css/flex-utils.css";


/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/

:root {
  --ion-color-primary: #9B8039;
  --ion-color-primary-rgb: 155,128,57;
  --ion-color-primary-contrast: #f4f5f8;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #887132;
  --ion-color-primary-tint: #a58d4d;

  --ion-color-secondary: #A88B40;
  --ion-color-secondary-rgb: 168,139,64;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #947a38;
  --ion-color-secondary-tint: #b19753;

  --ion-color-tertiary: #000000;
  --ion-color-tertiary-rgb: 0,0,0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #000000;
  --ion-color-tertiary-tint: #1a1a1a;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #202124;
  --ion-color-dark-rgb: 32,33,36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1c1d20;
  --ion-color-dark-tint: #36373a;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.nowrap {
	white-space: nowrap;
}
ion-loading {
	--ion-color-step-50: var(--ion-color-secondary-shade);
	.loading-wrapper {
		--background: var(--ion-color-dark);
	}
}

ion-app {
  background-color: var(--ion-color-dark);
}

ion-content {
  --ion-background-color: rgba(255, 255, 255, 0);
  ion-grid {
    max-width: 1440px;
		align-self: center;
	}
	.logo-col {
		ion-card {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-top: 20px;
			ion-card-content {
				font-size: 1.2em;
				font-weight: bold;
			}
		}
	}
	
}



genie-stripe {
  --gradient: linear-gradient(
    150deg,
    var(--ion-color-primary) 25%,
    var(--ion-color-warning) 75%,
    var(--ion-color-primary) 90%
  );
  --block-grid-area-1: 0 / 0 / span 0 / span 0;
  --block-color-1: var(--ion-color-primary-tint);
  --block-grid-area-2: 0 / 0 / span 0 / span 0;
  --block-color-2: var(--ion-color-primary-shade);
  --block-grid-area-3: 0 / 0 / span 0 / span 0;
  --block-color-3: var(--ion-color-primary-shade);
  --block-grid-area-4: 0 / 0 / span 0 / span 0;
  --block-color-4: var(--ion-color-primary-shade);
  --block-grid-area-5: 0 / 0 / span 0 / span 0;
  --block-color-5: var(--ion-color-primary-shade);
	--transform: skewY(4deg) translateY(-140px);	
	@media (min-width: 768px) {
		--block-grid-area-1: 1 / 1 / span 4 / span 2;

		--block-grid-area-2: 1 / 3 / span 3 / span 2;

		--block-grid-area-3: 4 / 5 / span 2 / span 2;

		--block-grid-area-4: 2 / 11 / span 2 / span 2;

		--block-grid-area-5: 9 / 1 / span 3 / span 2;
	}
	height: 320px;
}

ion-header {
  &::after {
    background: none !important;
  }
  ion-toolbar {
    --background: none;
    --border-width: 0;
    max-width: 1440px;
    margin-left: auto;
		margin-right: auto;
    .logo {
      padding-right: 5px;
      height: 50px;
      img {
        height: 50px;
      }
    }

    ion-button {
      font-weight: 900 !important;
      letter-spacing: 2px;
      padding-right: 5px;
			padding-left: 5px;
			&.active {
				border-bottom: 1px solid var(--ion-color-light);
			}
    }
  }
}


genie-card {
  --color-primary: var(--ion-color-light);
  --color-accent: var(--ion-color-primary);
  --color-background: var(--ion-color-dark);
  --heading-font-size: 25px;
  --text-font-size: 18px;
  --border-radius: 5px;
	--a-border-radius: 0 5px;
	--heading-color-override: var(--ion-color-light-shade);
  border: 1px solid var(--ion-color-secondary);
  border-radius: 5px;
	font-size: 18px;

  color: var(--ion-color-light);
	height: 100%;
	&.has-link {
    border-bottom-right-radius: 0;
	}
	&.no-grow {
		height: auto;
		font-size: 16px;
	}

  &::part(card-heading) {
    letter-spacing: 0.3px;
	}
	
	&.contact-form {
		--color-primary: var(--ion-color-primary);
		--color-accent: var(--ion-color-dark);
		--color-background: var(--ion-color-dark);
		ion-item {
			--border-width: 1px;
			--border-color: var(--ion-color-secondary);
			margin-bottom: 30px;
			&.item-has-focus.label-floating.sc-ion-label-md-h, &.item-has-focus .label-floating.sc-ion-label-md-h, &.item-has-placeholder.label-floating.sc-ion-label-md-h, &.item-has-placeholder .label-floating.sc-ion-label-md-h, &.item-has-value.label-floating.sc-ion-label-md-h, &.item-has-value .label-floating.sc-ion-label-md-h {
				transform: translate3d(0,  28%,  0) scale(0.75)
			}
			ion-label {
				padding-left: 5px;
			}
			ion-input, ion-textarea {
				--padding-start: 5px!important;
			}
		}
	}
}


ul {
	a {
		color: var(--ion-color-secondary-tint)
	}
}

.logo {
  position: relative;
  margin-top: 5px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.link-style,
ion-router-link {
  color: var(--ion-color-primary);
  text-decoration: underline;
}
